
body{
	margin: 0;
	padding: 0;
	font-family: "montserrat";
	background-image: linear-gradient(125deg,#2c3e50,#27ae60,#2980b9,#e74c3c,#8e44ad);
	background-size: 400%;
	animation: bganimation 12s infinite;
	

}

.text{
	color: white;
	text-align: center;
	
	margin: 230px 0;
	font-size: 36px;
	transition: 1s;

}

.text1{
	color: white;
	text-align: center;
	margin: 100px;
	


}




@keyframes bganimation{
	0%{
		background-position: 0% 50%;

	}
	50%{
		background-position: 100% 50%;
		
	}
	100%{
		background-position: 0% 50%;
		
	}
}

*{
	margin:0;
	padding:0;
	font-family: "montserrat";

}


.container{
	text-align: center;
	width: 120px;
	height: 120px;
	margin: 50px auto;


	position:relative;
}

.btn{

	display: inline-block;
	background:rgba(225,225,225,0.7);
	color:black;
	width:100px;
	height: 35px;
	border-radius: 24px;
	position:absolute;
	text-decoration-line: none;
	top: 50%;
	left: 50%;
	transform:translate(-50%,-50%);
	border:none;
	outline:none;
	cursor: pointer;
	box-shadow: 0 10px 10px rgba(0,0,0,.3);
	transition: 0.8s;


}

.btn:hover{
	color:#fff;
	background: linear-gradient(90deg, #03a9f4, #f441a5, #ffeb3b, #03a9f4);
	background-size:400%;
	transform: translateY(-15px);


	animation: bganimation 8s infinite;

}

@keyframes animate{
	0%{
		background-position:0%;

	}
	100%{
		background-position:400%;

	}

}






a{
	text-shadow: grey;
	color:rgba(225,225,225,0.9);
	text-decoration-color: rgba(225,225,225,0.9);
	font-family: "montserrat";
	font-size: 16px;

}

a:hover{
	color:white;
	text-decoration-line: none;
	font-size:18px;

}

p{
	color:rgba(225,225,225,0.9);
}







.wavy{
	position:relative;
	text-align: center;

	-webkit-box-reflect:below -18px linear-gradient(transparent,rgba(0,0,0,0.2));
}
.wavy span{
	position:relative;
	display:inline-block;
	color:#fff;
	font-size:18px;
	animation:animate 1s ease-in-out infinite;
	animation-delay: calc(0.05s * var(--i));
}

@keyframes animate{
	0%{
		transform: translateY(0px);
	}
	20%{
		transform: translateY(-20px);
	}
	40%,100%{
		transform: translateY(0px);
	}

}











