
body{
	margin: 0;
	padding: 0;
	font-family: "montserrat";
	background-image: linear-gradient(125deg,#2c3e50,#27ae60,#2980b9,#e74c3c,#8e44ad);
	background-size: 400%;
	animation: bganimation 12s infinite;
	

}

.text{
	color: white;
	text-align: center;
	
	margin: 260px 0;
	font-size: 36px;
	transition: 1s;

}

.text1{
	color: white;
	text-align: center;
	margin: 100px;

}




@keyframes bganimation{
	0%{
		background-position: 0% 50%;

	}
	50%{
		background-position: 100% 50%;
		
	}
	100%{
		background-position: 0% 50%;
		
	}
}

*{
	margin=0;
	padding=0;
	font-family: "montserrat";

}


.container{
	text-align: center;
	margin-top: 100px;
}

.btn{
	border: 2px solid #fff;
	background: none;
	padding: 10px 20px;
	font-size: 20px;
	font-family: "montserrat";
	cursor: pointer;
	color: #fff;
	transition: 0.8s;
	position:relative;
	overflow:hidden;
	text-decoration-line: none;

}

.btn:hover{
	border: 2px solid #3498db;
	color:#3498db;
}

.btn::before{
	content:"";
	position:absolute;
	left:0;
	width: 100%;
	height:0%;
	background:#fff;
	z-index: -1;
	transition: 0.8s;

	top:0;
	border-radius: 0 0 50% 50%;


}

.btn:hover::before{
	height:100%;
}

a{
	text-shadow: grey;
	color:white;
	text-decoration-color: white;
	font-family: "montserrat";

}


.wavy{
	position:relative;
	text-align: center;
	
	-webkit-box-reflect:below -18px linear-gradient(transparent,rgba(0,0,0,0.2));
}
.wavy span{
	position:relative;
	display:inline-block;
	color:#fff;
	font-size:18px;
	animation:animate 1s ease-in-out infinite;
}

@keyframes animate{
	0%{
		transform: translateY(0px);
	}
	20%{
		transform: translateY(-20px);
	}
	40%,100%{
		transform: translateY(0px);
	}

}











